a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
masthead,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

b,
strong {
    font-weight: 700
}

abbr,
acronym {
    border-bottom: 1px dotted
}

.c:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

* html .c {
    height: 1%
}

.c {
    display: block
}

* {
    word-wrap: break-word
}

body,
html {
    height: 100%
}

body {
    background-color: #fff;
    color: #000
}

#main-wrapper {
    background: #fff url(bg-header.png) repeat-x;
    border-top: 2px solid #fff
}

#page {
    max-width: 960px;
    height: auto;
    margin: 0 auto;
    position: relative;
    min-height: 404px
}

#page header.hero {
    width: 720px
}

#page header h2,
#page header h3 {
    margin-bottom: 16px
}

a {
    text-decoration: none;
    color: #447bc4
}

a:hover {
    text-decoration: underline
}

a:not([href]) {
    cursor: pointer
}

.island {
    background: #FCFDFE;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#fcfdfe), to(#f4f8fc));
    background-image: linear-gradient(#fcfdfe, #f4f8fc);
    background-image: -webkit-linear-gradient(#fcfdfe, #f4f8fc);
    border: 1px solid #c9ddf2;
    border-radius: 5px;
    box-shadow: 0 -2px 0 rgba(204, 223, 243, .3) inset, 0 0 1px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 -2px 0 rgba(204, 223, 243, .3) inset, 0 0 1px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 -2px 0 rgba(204, 223, 243, .3) inset, 0 0 1px rgba(0, 0, 0, .1);
    display: block;
    float: left;
    margin-bottom: 15px;
    padding: 14px 14px 16px
}

.island.swagger {
    box-shadow: 0 -2px 0 rgba(223, 223, 223, .3) inset, 0 0 1px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 -2px 0 rgba(223, 223, 223, .3) inset, 0 0 1px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 -2px 0 rgba(223, 223, 223, .3) inset, 0 0 1px rgba(0, 0, 0, .1);
    background-image: -webkit-gradient(linear, left bottom, left top, from(#fcfcfc), to(#f4f4f4));
    background-image: linear-gradient(#fcfcfc, #f4f4f4);
    background-image: -webkit-linear-gradient(#fcfcfc, #f4f4f4);
    border-color: #ccc
}

.island>section {
    border-bottom: 1px solid #C9DDF2;
    border-top: 1px solid transparent;
    margin: 0 -14px;
    padding: 14px;
    float: left;
    width: 100%
}

.island>section:first-child {
    border-top: 0;
    padding-top: 0
}

.island>section:last-child {
    border-bottom: 0
}

.secondary+.primary .island {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%
}

.secondary+.primary .island.hero {
    width: 750px
}

header+.island {
    margin-top: 1em
}

#standalone {
    float: none;
    margin: 6em auto 0;
    width: 500px
}

.primary {
    margin-left: 210px;
    position: relative
}

.primary .primary {
    margin-right: 210px;
    margin-left: 0
}

.primary .secondary {
    float: right
}

.primary .island.hero {
    width: 720px;
    position: relative
}

.full {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: none;
    margin: auto 0!important;
    width: 100%
}

.secondary {
    float: left;
    width: 180px
}

.gutter .primary {
    margin-left: 0;
    margin-right: 210px
}

.gutter .primary.full {
    margin-right: 0
}

.gutter .primary .primary {
    margin-right: 0;
    margin-left: 210px
}

.gutter .primary .secondary {
    float: left
}

.gutter .secondary {
    float: right
}

.gutter .listing.island.hero,
.gutter .primary.island.hero {
    width: 720px;
    position: relative
}

.gutter .island {
    float: none
}

.secondary ol,
.secondary section,
.secondary ul {
    color: #666;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 28px
}

.secondary ul ul {
    margin-bottom: 0
}

.secondary ul ul li {
    border-top: 0
}

.secondary ul ul li a {
    padding-left: 1em
}

.secondary li {
    border: 1px solid rgba(0, 0, 0, .19999999999999996);
    border-width: 0 0 1px;
    position: relative
}

.secondary li:first-child {
    border-top-width: 1px
}

.secondary li a {
    color: #3363a2
}

.secondary li a.selected {
    color: #333;
    font-weight: 700
}

.secondary li a.selected,
.secondary li a:hover {
    background: #ECF5FE
}

.secondary nav li a {
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 12px;
    white-space: nowrap
}

.secondary nav li a:after {
    content: '\203a';
    position: absolute;
    right: 6px;
    top: 4px;
    font-family: Georgia;
    font-weight: 400;
    font-size: 18px;
    color: #dadada;
    color: rgba(0, 0, 0, .125)
}

.secondary nav li a.selected:after,
.secondary nav li a:focus:after,
.secondary nav li a:hover:after {
    color: inherit
}

.secondary h2 {
    font-size: 14px;
    line-height: 16px
}

.secondary h2 a {
    color: inherit
}

.secondary h2,
.secondary li a {
    display: block;
    padding: 6px;
    text-decoration: none
}

.secondary p {
    padding: 0 6px
}

.secondary section>h3 {
    border-bottom: 1px solid rgba(0, 0, 0, .19999999999999996);
    color: #484848;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    margin-bottom: 8px;
    padding: 0 6px 8px;
    text-transform: uppercase
}

.secondary p {
    margin-bottom: 8px
}

.secondary p.note {
    color: #666;
    line-height: 1.2em;
    padding: 10px 0 0
}

.secondary section section {
    margin: 0
}

#side-nav .selected,
.s-created #side-nav .s-created a,
.s-downloads #side-nav .s-downloads a,
.s-featured #side-nav .s-featured a,
.s-followers #side-nav .s-followers a,
.s-free #side-nav .s-free a,
.s-paid #side-nav .s-paid a,
.s-rating #side-nav .s-rating a,
.s-users #side-nav .s-users a {
    background: #ecf5fe;
    color: #333;
    font-weight: 700
}

#side-nav .selected a:after,
.s-created #side-nav .s-created a:after,
.s-downloads #side-nav .s-downloads a:after,
.s-featured #side-nav .s-featured a:after,
.s-followers #side-nav .s-followers a:after,
.s-free #side-nav .s-free a:after,
.s-paid #side-nav .s-paid a:after,
.s-rating #side-nav .s-rating a:after,
.s-users #side-nav .s-users a:after {
    color: inherit
}

.flex-spring {
    flex: 10;
    -webkit-flex: 10
}

.cols {
    width: 100%;
    width: -moz-calc(100% - -1em);
    width: -webkit-calc(100% - -1em);
    width: calc(100% - -1em);
    overflow: hidden;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    align-items: stretch
}

.cols div.col-2,
.cols div.col-3 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 1em;
    display: inline-block
}

.cols div.col {
    width: 1em
}

.cols div.col-2 {
    width: 50%
}

.cols div.col-3 {
    width: 33.33%
}

.equal {
    display: table;
    width: 100%;
    border-spacing: .5em;
    border-collapse: separate
}

.equal .cols {
    display: table-row
}

.equal .cols div.col,
.equal .cols div.col-2,
.equal .cols div.col-3 {
    float: none;
    display: table-cell
}

nav.further-navigation {
    clear: right;
    display: block;
    margin-top: 1em;
    padding-top: .5em
}

a.more-info {
    float: right;
    font-size: 12px;
    color: #447bc4
}

a.more-info:after {
    content: ' \00bb'
}

body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-style: normal;
    font-size: 13px
}

section+h1 {
    margin: 15px 0
}

h1 {
    font: italic 20px Georgia, serif;
    color: #c63717;
    margin-bottom: 16px
}

.sidebar-breakout h3,
h2 {
    font: italic 18px Georgia, serif;
    color: #333
}

hgroup h2 {
    color: #666
}

hgroup b {
    font-weight: 700
}

h4 {
    font-size: 14px
}

blockquote {
    margin: 2em 1em;
    font-family: "Helvetica Neue", Arial, sans-serif
}

h5 {
    font-weight: 700
}

h5 span {
    font-size: .857em;
    font-weight: 400;
    white-space: nowrap
}

code,
kbd,
pre,
samp,
tt {
    font-family: "andale mono", monospace
}

pre {
    line-height: 1.4;
    white-space: pre-wrap
}

.primary ol,
.primary p,
.primary ul {
    line-height: 1.3em
}

.primary p {
    margin-top: 1em
}

.primary>p:first-child {
    margin: 0
}

.primary ul.indent {
    list-style: disc inside;
    margin-left: 1em;
    margin-top: 1em
}

.gutter .secondary h3,
.primary em {
    font-style: italic
}

.defaultlink {
    font: 400 12px "Helvetica Neue", Arial, sans-serif;
    text-transform: none;
    margin-left: .5em
}

.addon-details .primary,
.addon-details .secondary {
    font-family: Georgia, serif
}

.island .sidebar-breakout h3,
.island h2,
.popup .sidebar-breakout h3,
.popup h2 {
    margin-bottom: .5em
}

.island .sidebar-breakout h3 .seeall,
.island h2 .seeall,
.popup .sidebar-breakout h3 .seeall,
.popup h2 .seeall {
    font: 400 12px "Helvetica Neue", Arial, sans-serif;
    text-transform: none;
    margin-left: .5em
}

.island.hero h1,
.popup.hero h1 {
    margin-bottom: 5px;
    margin-left: 12px
}

.island.hero hgroup h3,
.popup.hero hgroup h3 {
    color: #666;
    font-size: 14px
}

.island.hero hgroup b,
.popup.hero hgroup b {
    font-weight: 700
}

.island.hero header+.item,
.popup.hero header+.item {
    border-top: 1px dotted #c9ddf2;
    margin-top: 1em
}

.primary>.seeall {
    text-align: center;
    clear: both;
    font-size: 14px;
    line-height: 22px
}

.secondary h2 {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    color: #333
}

.secondary h2 .seeall {
    font: 400 12px "Helvetica Neue", Arial, sans-serif;
    text-transform: none;
    margin-left: .5em
}

.secondary h3 {
    font-family: "Helvetica Neue", Arial, sans-serif;
    color: #333
}

caption {
    display: none
}

th {
    text-align: left
}

#header:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden
}

#header {
    background: #33589f;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2a4187), color-stop(1, #3b69b1));
    background: -moz-linear-gradient(center bottom, #2a4187 0, #3b69b1 100%);
    background: linear-gradient(center bottom, #2a4187 0, #3b69b1 100%);
    height: 57px;
    margin: 0 auto;
    margin-top: 10px;
    font-family: verdana;
    -moz-box-shadow: 0 3px rgba(0, 0, 0, .1), inset 0 -4px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 3px rgba(0, 0, 0, .1), inset 0 -4px rgba(0, 0, 0, .1);
    box-shadow: 0 3px rgba(0, 0, 0, .1), inset 0 -4px rgba(0, 0, 0, .1);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    text-align: center;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3B69B1', endColorstr='#2D488D', GradientType=0)
}

#header h1 {
    margin: 0;
    float: left;
    font-family: MetaBold
}

#header h1 a,
#header h1 a:link,
#header h1 a:visited {
    background: url(header-logos.png) 15px 10px no-repeat;
    display: block;
    height: 57px;
    width: 110px;
    text-indent: -9999px;
    overflow: hidden;
    -moz-transition: background .2s ease-in-out
}

#header h1 a:active,
#header h1 a:hover {
    background: -moz-radial-gradient(center 45deg, ellipse closest-side, rgba(255, 255, 255, .3) 0, rgba(255, 255, 255, 0) 100%), url(header-logos.png) 15px 10px no-repeat;
    -moz-transition: background .2s ease-in-out
}

#header a.mozilla {
    color: #a0c8da;
    font-family: georgia, serif;
    font-weight: 400;
    font-style: italic;
    float: right;
    display: block;
    text-align: center;
    padding-top: 20px;
    height: 37px;
    font-size: 14px;
    width: 133px
}

#header a.mozilla span {
    color: #fff
}

#header a.mozilla:active,
#header a.mozilla:hover {
    text-decoration: none;
    background: -moz-radial-gradient(center 45deg, ellipse closest-side, rgba(255, 255, 255, .3) 0, rgba(255, 255, 255, 0) 100%);
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out
}

.moz-header-slim #header {
    height: 40px;
    -moz-box-shadow: 0 3px rgba(0, 0, 0, .1), inset 0 -2px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 3px rgba(0, 0, 0, .1), inset 0 -2px rgba(0, 0, 0, .1);
    box-shadow: 0 3px rgba(0, 0, 0, .1), inset 0 -2px rgba(0, 0, 0, .1)
}

.moz-header-slim #header h1 a,
.moz-header-slim #header h1 a:link,
.moz-header-slim #header h1 a:visited {
    height: 40px;
    width: 95px;
    background: url(wordmark-slim.png) 15px 4px no-repeat
}

.moz-header-slim #header h1 a:active,
.moz-header-slim #header h1 a:hover {
    background: -moz-radial-gradient(center 45deg, ellipse closest-side, rgba(255, 255, 255, .3) 0, rgba(255, 255, 255, 0) 100%), url(wordmark-slim.png) 15px 4px no-repeat
}

.moz-header-slim #nav-main ul li a,
.moz-header-slim #nav-main ul li span,
.moz-header-slim #nav-main ul li.current>a,
.moz-header-slim #nav-main ul li.current>span {
    padding: 10px 15px 0;
    height: 30px;
    font-size: 12px
}

.moz-header-slim #nav-main li.sfhover ul,
.moz-header-slim #nav-main li:hover ul {
    margin-top: 40px
}

.moz-header-slim #nav-main ul li.current,
.moz-header-slim #nav-main ul li.current>a:hover {
    border-bottom: 0;
    -moz-box-shadow: none
}

.moz-header-slim #header a.mozilla {
    font-size: 16px;
    height: 40px;
    line-height: 35px;
    margin-right: 15px;
    text-align: right;
    width: auto;
    padding-top: 0
}

header form {
    margin-bottom: 1em
}

input[type=color],
input[type=password],
input[type=text],
select,
textarea {
    border: 1px solid #5875A0;
    color: #666;
    font-family: inherit;
    line-height: 1.3;
    padding: 2px 5px
}

input:-moz-placeholder {
    color: #aaa
}

select {
    padding: 0
}

label {
    cursor: pointer;
    font-weight: 700
}

.error,
.errorlist,
.req {
    color: #c00000!important
}

p.req {
    font-size: 11px;
    margin: 0 0 1em
}

form div[style]:first-child+p {
    margin-top: 0
}

.optional {
    color: #999;
    font-size: 11px;
    font-weight: 400
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 100%
}

button.loading-submit:after,
input.loading-submit:after {
    background-image: url(loading-white.gif);
    content: "";
    display: block;
    height: 16px;
    margin-left: 10px;
    position: absolute;
    right: -10px;
    top: 0;
    width: 16px
}

.url-prefix {
    color: #999;
    display: inline-block;
    font: 11px monospace;
    margin-bottom: 10px;
    position: relative;
    top: 1px
}

.is-impala .island.hero {
    margin-right: 0;
    width: 510px
}

.is-impala .island.hero input[type=email],
.is-impala .island.hero input[type=password],
.is-impala .island.hero input[type=text],
.is-impala .island.hero input[type=url] {
    width: 471px
}

.is-impala .island.hero fieldset {
    margin: 1em 0 0;
    padding: 0
}

.amo-header {
    font-family: "Trebuchet MS", sans-serif;
    margin-bottom: 25px
}

.amo-header a.loading-submit:before {
    background-image: url(loading-white.gif);
    content: "";
    display: block;
    height: 16px;
    left: -20px;
    margin-right: 10px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
    width: 16px
}

#masthead {
    padding: 25px 0 0 10px;
    max-width: 600px
}

#masthead h1 {
    font: bold 24px/36px Arial;
    letter-spacing: 0px;
    text-transform: uppercase;
    margin-bottom: -2px
}

.site-title img {
    float: left;
    margin-right: 10px;
    margin-top: -2px;
}

.site-title {
    margin-bottom: 7px
}

.site-title a {
    color: #333;
    text-decoration: none
}

.site-title a small {
    color: #333;
    display: block;
    font-size: .6em;
    line-height: .5em
}

.site-title a:focus,
.site-title a:hover {
    color: #043b84;
    text-shadow: 0 0 40px #fff, 0 0 20px #fff, 0 0 10px #fff
}

.site-title strong,
.site-title.prominent a {
    color: #D64203
}

.site-title strong:hover,
.site-title.prominent a:hover {
    text-shadow: 0 0 #fff
}

.menu-nav {
    font-size: 12px;
    margin-left: 64px;
    z-index: 50
}

.menu-nav.no-img {
    margin-left: 0
}

.menu-nav li.slim:hover:after {
    display: none
}

.menu-nav li.slim:hover>a {
    border-radius: 3px
}

.menu-nav>ul>li {
    float: left;
    position: relative
}

.menu-nav>ul>li>a {
    position: relative;
    font-weight: 700;
    z-index: 60;
    border-style: solid;
    border-radius: 3px 3px 0 0;
    border-color: transparent;
    border-width: 1px 1px 0
}

.menu-nav>ul>li:hover>a {
    background: #fff;
    border-color: #98b2c9 #98b2c9 #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .4);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .4)
}

.menu-nav>ul>li:hover>div,
.menu-nav>ul>li:hover>ul {
    display: block
}

.menu-nav>ul>li:hover:after {
    content: "";
    width: 200px;
    z-index: 62;
    height: 5px;
    background: #fff;
    position: absolute;
    top: 18px;
    left: 1px
}

.menu-nav>ul>li>div,
.menu-nav>ul>li>ul {
    display: none;
    position: absolute;
    z-index: 59
}

.menu-nav>ul>li>ul {
    width: 190px;
    top: 17px;
    z-index: 59;
    padding: 8px;
    background: #fff;
    border: 1px solid #98b2c9;
    border-radius: 0 3px 3px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .4), 0 -2px 0 rgba(152, 178, 201, .3) inset;
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .4), 0 -2px 0 rgba(152, 178, 201, .3) inset;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .4), 0 -2px 0 rgba(152, 178, 201, .3) inset
}

.menu-nav>ul>li>ul a {
    text-decoration: none;
    display: block;
    padding: 6px 8px;
    word-wrap: break-word
}

.menu-nav>ul>li>ul a:hover {
    background: #ebf4fe
}

.menu-nav>ul>li>ul.two-col {
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-gap: 8px;
    -moz-column-gap: 8px;
    -webkit-column-gap: 8px;
    width: 340px
}

.menu-nav>ul em a:hover {
    background: #e1edfb
}

.menu-nav hr {
    border: 0;
    margin: 6px 8px;
    border-top: 1px dotted #ccc
}

.menu-nav em {
    background: #F4F8FC;
    display: block;
    font-weight: 700
}

#site-nav>ul>li {
    border-left: 1px solid #9FA7AF;
    left: -9px
}

#site-nav>ul>li:first-child {
    border: 0
}

#site-nav>ul>li>a {
    padding: 4px 8px;
    line-height: 12px;
    text-transform: uppercase
}

#site-nav #themes ul.two-col {
    height: 216px;
    padding-bottom: 39px
}

#site-nav #themes ul.two-col+div {
    top: 250px
}

#site-nav a.complete-themes {
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    color: #666;
    display: block;
    line-height: 28px;
    margin: 0 1px 1px;
    padding: 0 8px;
    text-align: center;
    width: 190px
}

#site-nav a.complete-themes b {
    color: #447bc4
}

#site-nav a.complete-themes:hover {
    background-color: #eee;
    color: #333;
    text-decoration: none
}

#site-nav a.complete-themes:hover b {
    color: #3363a2
}

#site-nav .two-col+div a.complete-themes {
    width: 340px
}

.header-search {
    position: absolute;
    top: 40px;
    right: 10px;
    border-radius: 5px;
    width: 250px
}

.header-search #search-q,
.header-search .search-button {
    height: 30px
}

button.search-button {
    background: #84c63c url(go-arrow.png) center no-repeat;
    background-image: url(go-arrow.png), linear-gradient(#84c63c, #7FDA76);
    background-image: url(go-arrow.png), -webkit-linear-gradient(#84c63c, #7FDA76);
    border: 0;
    float: right;
    cursor: pointer;
    width: 34px;
    border-radius: 0px 4px 4px 0px;
}

.header-search input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(search.png) no-repeat 8px 50% #fff;
    border: 0;
    border-radius: 4px 0px 0px 4px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .4) inset;
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, .4) inset;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .4) inset;
    float: left;
    font: 14px "Trebuchet MS", sans-serif;
    text-overflow: ellipsis;
    padding: 6px 6px 6px 32px;
    width: 238px;
    width: -moz-calc(100% - 34px);
    width: -webkit-calc(100% - 34px);
    width: calc(100% - 34px)
}

.stars {
    display: inline-block;
    vertical-align: middle;
    width: 63px;
    height: 12px;
    background: url(stars.png) no-repeat left top;
    text-indent: -9999px;
    margin-right: 4px
}

.stars.stars-4 {
    background-position: -13px 0
}

.stars.stars-3 {
    background-position: -26px 0
}

.stars.stars-2 {
    background-position: -39px 0
}

.stars.stars-1 {
    background-position: -52px 0
}

.stars.stars-0 {
    background-position: -65px 0
}

.stars.stars--1 {
    display: none !important
}

.stars.large {
    display: block;
    background: url(stars-16.png) no-repeat left top;
    width: 89px;
    height: 16px
}

.stars.large.stars-4 {
    background-position: -18px 0
}

.stars.large.stars-3 {
    background-position: -36px 0
}

.stars.large.stars-2 {
    background-position: -54px 0
}

.stars.large.stars-1 {
    background-position: -70px 0
}

.stars.large.stars-0 {
    background-position: -90px 0
}

.no-rating strong {
    font-size: 12px;
    font-weight: 700
}

.average-rating {
    position: relative;
    padding-left: 74px
}

.average-rating strong {
    font-weight: 700
}

.average-rating .stars {
    position: absolute;
    left: 0;
    top: 2px
}

.grouped_ratings {
    font-family: "Helvetica Neue", Arial, sans-serif;
    color: #666;
    margin-bottom: 10px !important;
    margin-top: 10px !important
}

.grouped_ratings li {
    margin: 0;
    padding: 0;
    border: 0
}

.grouped_ratings .rating_bar {
    border-left: 1px solid #999;
    height: 20px;
    float: left;
    overflow: visible;
    width: 96px
}

.grouped_ratings .rating_bar span.bar {
    display: block;
    position: relative;
    background: #ddd;
    margin: .4em .5em 0 0;
    height: 10px
}

.grouped_ratings .num_ratings {
    width: 1px;
    position: absolute;
    right: -5px;
    top: -2px;
    line-height: 12px;
    font-size: 10px;
    word-wrap: normal
}

.grouped_ratings .stars {
    float: left;
    margin: 4px 8px 0 0 !important
}

.button,
button,
input[type=submit] {
    position: relative;
    font: 700 13px/1em "Trebuchet MS", sans-serif;
    padding: 6px 10px 7px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    background: #5784BF;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#669be1), to(#5784bf));
    background-image: linear-gradient(#669be1, #5784bf);
    background-image: -webkit-linear-gradient(#669be1, #5784bf);
    text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
    border-radius: 6px;
    box-shadow: 0 1px rgba(0, 0, 0, .1), 0 -2px rgba(0, 0, 0, .1) inset;
    -moz-box-shadow: 0 1px rgba(0, 0, 0, .1), 0 -2px rgba(0, 0, 0, .1) inset;
    -webkit-box-shadow: 0 1px rgba(0, 0, 0, .1), 0 -2px rgba(0, 0, 0, .1) inset;
    border: 0
}

.button.add,
.button.good,
button.good {
    background: #489615;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#84c63c), to(#489615));
    background-image: linear-gradient(#84c63c, #489615);
    background-image: -webkit-linear-gradient(#84c63c, #489615)
}

.button.bad,
.button.developer,
.button.scary,
button.bad {
    background: #bc2b1a;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#f84b4e), to(#bc2b1a));
    background-image: linear-gradient(#f84b4e, #bc2b1a);
    background-image: -webkit-linear-gradient(#f84b4e, #bc2b1a)
}

.button {
    display: inline-block
}

.button.prominent {
    padding: 8px 16px 12px;
    font-size: 16px;
    box-shadow: 0 3px rgba(0, 0, 0, .1), 0 -4px rgba(0, 0, 0, .1) inset;
    -moz-box-shadow: 0 3px rgba(0, 0, 0, .1), 0 -4px rgba(0, 0, 0, .1) inset;
    -webkit-box-shadow: 0 3px rgba(0, 0, 0, .1), 0 -4px rgba(0, 0, 0, .1) inset
}

.button.add span {
    padding-left: 16px;
    background: url(button-icons.png) no-repeat 0 3px
}

.button.add.prominent span {
    padding-left: 24px;
    background-position: 0 -189px
}

.button.add.prominent.caution span,
.button.add.prominent.warning span {
    background-position: 0 -317px
}

.button.add.prominent.caution.concealed span,
.button.add.prominent.concealed span,
.button.add.prominent.disabled span {
    background-position: 0 -253px
}

.button.caution,
.button.warning {
    background: url(warning-bg.png);
    color: #333;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, .5);
    top: 0
}

.button.add.caution span,
.button.add.warning span {
    background-position: 0 -125px
}

.button.add.caution.concealed,
.button.add.concealed,
.button.add.disabled {
    top: 0
}

.button.add.caution.concealed span,
.button.add.concealed span,
.button.add.disabled span {
    background-position: 0 -61px
}

.button.contribute.prominent b {
    background: url(button-icons.png) no-repeat;
    padding-left: 24px;
    margin-left: -4px;
    background-position: 0 -444px
}

.button.developer span,
.button.scary span {
    margin-left: -4px;
    padding-left: 24px;
    background: url(button-icons.png) no-repeat;
    background-position: 0 -381px
}

.button.watch:not(.watching) {
    background: #ea0;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#ea0), to(#bb8600));
    background-image: linear-gradient(#ea0, #bb8600);
    background-image: -webkit-linear-gradient(#ea0, #bb8600)
}

.button.platform {
    display: none
}

.button.selected,
.button:active,
.button:focus,
.button:hover {
    text-decoration: none;
    box-shadow: 0 1px rgba(0, 0, 0, .1), 0 -2px rgba(0, 0, 0, .1) inset, 0 0 100px rgba(255, 255, 255, .2) inset;
    -moz-box-shadow: 0 1px rgba(0, 0, 0, .1), 0 -2px rgba(0, 0, 0, .1) inset, 0 0 100px rgba(255, 255, 255, .2) inset;
    -webkit-box-shadow: 0 1px rgba(0, 0, 0, .1), 0 -2px rgba(0, 0, 0, .1) inset, 0 0 100px rgba(255, 255, 255, .2) inset
}

body.android.addon-details .button.platform.android:not(.concealed) {
    display: inline-block
}

.install.clickHijack a * {
    pointer-events: none
}

.button.selected,
.button:active {
    box-shadow: 0 0 rgba(0, 0, 0, .1), 0 -2px rgba(0, 0, 0, .1) inset, 0 0 100px rgba(255, 255, 255, .2) inset;
    -moz-box-shadow: 0 0 rgba(0, 0, 0, .1), 0 -2px rgba(0, 0, 0, .1) inset, 0 0 100px rgba(255, 255, 255, .2) inset;
    -webkit-box-shadow: 0 0 rgba(0, 0, 0, .1), 0 -2px rgba(0, 0, 0, .1) inset, 0 0 100px rgba(255, 255, 255, .2) inset
}

.button.prominent.selected,
.button.prominent:active,
.button.selected,
.button:active {
    top: 2px
}

.button.prominent.selected:before,
.button.prominent:active:before,
.button.selected:before,
.button:active:before {
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    top: -2px;
    left: 0;
    width: 100%
}

.button.prominent.selected,
.button.prominent:active,
.button.prominent:focus,
.button.prominent:hover {
    box-shadow: 0 3px rgba(0, 0, 0, .1), 0 -4px rgba(0, 0, 0, .1) inset, 0 0 100px rgba(255, 255, 255, .2) inset;
    -moz-box-shadow: 0 3px rgba(0, 0, 0, .1), 0 -4px rgba(0, 0, 0, .1) inset, 0 0 100px rgba(255, 255, 255, .2) inset;
    -webkit-box-shadow: 0 3px rgba(0, 0, 0, .1), 0 -4px rgba(0, 0, 0, .1) inset, 0 0 100px rgba(255, 255, 255, .2) inset
}

.button.prominent.selected,
.button.prominent:active {
    box-shadow: 0 1px rgba(0, 0, 0, .1), 0 -4px rgba(0, 0, 0, .1) inset, 0 0 100px rgba(255, 255, 255, .2) inset;
    -moz-box-shadow: 0 1px rgba(0, 0, 0, .1), 0 -4px rgba(0, 0, 0, .1) inset, 0 0 100px rgba(255, 255, 255, .2) inset;
    -webkit-box-shadow: 0 1px rgba(0, 0, 0, .1), 0 -4px rgba(0, 0, 0, .1) inset, 0 0 100px rgba(255, 255, 255, .2) inset
}

.install-shell .install {
    display: inline-block
}

.install-shell .warning {
    font-size: 12px
}

.install-shell .extra {
    margin-top: 8px
}

.install-shell .notavail,
.install-shell .notsupported {
    color: #c00000;
    display: block;
    font-size: 11px;
    margin: 0 0 4px
}

.install-shell .acr-incompat,
.install-shell .notsupported {
    color: #999
}

.install-shell .notsupported span:before {
    content: "\0B7";
    padding: 0 4px
}

.listing .notsupported span {
    display: block;
    margin-top: 4px
}

.listing .notsupported span:before {
    content: ""
}

.versions .notsupported {
    display: none
}

.listing-grid .hovercard .install-button {
    margin: 0
}

.listing-grid .hovercard .button.concealed,
.listing-grid .hovercard .button.disabled {
    display: none!important
}

.listing-grid .hovercard .addon-summary {
    line-height: 16px
}

.linux .button.linux,
.mac .button.mac,
.other .button.bsd,
.other .button.solaris,
.windows .button.windows {
    display: inherit
}

.thunderbird .listing-grid .install-shell {
    display: none
}

.button.caution.concealed,
.button.concealed,
.button.disabled,
button[disabled] {
    background: #c1c5ca;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#d1d4d7), to(#c1c5ca));
    background-image: linear-gradient(#d1d4d7, #c1c5ca);
    background-image: -webkit-linear-gradient(#d1d4d7, #c1c5ca);
    color: #919497;
    box-shadow: 0 3px rgba(0, 0, 0, .05), 0 -4px rgba(0, 0, 0, .05) inset;
    -moz-box-shadow: 0 3px rgba(0, 0, 0, .05), 0 -4px rgba(0, 0, 0, .05) inset;
    -webkit-box-shadow: 0 3px rgba(0, 0, 0, .05), 0 -4px rgba(0, 0, 0, .05) inset;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5)
}

.button.caution.concealed,
.button.disabled,
button[disabled] {
    pointer-events: none
}

.button.CTA {
    min-width: 80px;
    padding: 25px;
    border: 0;
    border-radius: 6px;
    border-radius: .25em;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, .2), inset 0 -1px 0 0 rgba(0, 0, 0, .3);
    cursor: pointer;
    color: #fff!important;
    background-color: #43a6e2!important;
    background-color: #277ac1!important;
    background-color: #81bc2e!important;
    background-color: #659324!important;
    background-image: -webkit-linear-gradient(top, #43a6e2, #277ac1)!important;
    background-image: linear-gradient(to bottom, #43a6e2, #277ac1)!important;
    background-image: -webkit-linear-gradient(top, #81bc2e, #659324)!important;
    background-image: linear-gradient(to bottom, #81bc2e, #659324)!important;
    background-repeat: repeat-x!important;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#81bc2e', endColorstr='#659324', GradientType=0)";
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#43a6e2', endColorstr='#277ac1', GradientType=0)";
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .25);
    -webkit-transition: all linear .25s;
    transition: all linear .25s;
    text-align: center;
    font-size: 25px;
    font-family: "Open Sans", X-LocaleSpecific, sans-serif;
    font-weight: 400;
    *display: inline;
    *zoom: 1
}

#addon {
    position: relative;
    padding: 20px 20px 20px 104px
}

#addon .icon {
    position: absolute;
    top: 20px;
    left: 20px;
    margin: 0 12px 1em 0
}

#addon #addon-summary {
    font-size: 16px;
    line-height: 20px
}

#addon h1 {
    color: #333;
    margin: 0 0 2px;
    padding-right: 54px
}

#addon .badge {
    font-size: 14px;
    margin-left: 1em
}

#addon .install-shell {
    font-family: "Helvetica Neue", Arial, sans-serif
}

#addon .acr-incompat,
#eula .acr-incompat {
    background: 0 0;
    padding: 1px 0!important
}

#addon-description,
#addon-summary,
h1.addon {
    overflow: hidden
}

.version-number {
    color: #999;
    font-size: .8em
}

.notice {
    border-radius: 5px;
    box-shadow: 0 -1px 0 #d7e1ed inset, 0 1px 0 rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 -1px 0 #d7e1ed inset, 0 1px 0 rgba(0, 0, 0, .05);
    -webkit-box-shadow: 0 -1px 0 #d7e1ed inset, 0 1px 0 rgba(0, 0, 0, .05);
    border: 1px solid #CCD6E3;
    padding: 14px;
    background: #E3EDFA;
    margin-bottom: 1em
}

.notice h3 {
    font-style: italic;
    font-size: 16px
}

.notice p {
    margin-top: .5em
}

.notice p:first-child {
    margin: 0
}

.notice b {
    color: #333
}

.notice .prose {
    color: #666
}

.notice .prose li {
    margin-bottom: .5em
}

.notice.author {
    min-height: 64px;
    padding-left: 104px;
    position: relative
}

.notice.author .aux {
    float: right;
    margin-left: 7px;
    text-align: center
}

.notice.author .aux p {
    font-size: 11px
}

.notice.author .continue {
    display: block;
    margin-top: .25em
}

.notice.author .avatar {
    height: 64px;
    width: 64px;
    position: absolute;
    left: 20px;
    top: 1em
}

.notice.author #contribute-box {
    display: none
}

.notice.dependencies>h3 {
    margin: 0 0 .5em
}

.notice.dependencies {
    background-color: #f8ffdc;
    border-color: #dbe2bf
}

.addon-vitals {
    font-size: 16px;
    line-height: 1.4em
}

.addon-vitals .stars {
    margin: 0 0 4px
}

.addon-vitals p {
    padding: 0
}

.addon-vitals .widgets {
    margin: 23px 0 8px;
    font-size: 14px
}

.addon-vitals .widgets .widget {
    color: #999;
    display: block
}

.addon-vitals .stats {
    padding-right: 20px;
    color: #666;
    background: url(stats.png) no-repeat right top
}

.addon-vitals .stats b {
    color: #333
}

.addon-vitals .stats:hover {
    color: #447bc4;
    background-position: right -20px
}

.gutter aside {
    color: #666;
    padding-top: 1em
}

.addon-details .more-island>section {
    float: none
}

.addon-reviews>div {
    margin-bottom: 1em;
    font-size: 14px
}

.metadata li {
    line-height: 1.4em;
    border: 0
}

.metadata li a {
    padding: 0;
    display: inline;
    line-height: 1
}

.metadata li a:hover {
    background: 0 0;
    text-decoration: underline
}

.metadata .links {
    font-size: 14px;
    margin-bottom: 1em
}

.metadata .links li {
    margin-bottom: 4px
}

.metadata .links a {
    padding-left: 18px
}

.metadata .links .home,
.metadata .links .support {
    background: url(home.png) no-repeat left -18px
}

.metadata .links .email {
    background: url(email.png) no-repeat left -18px
}

#tagbox a,
#tagbox li {
    border: 0;
    display: inline;
    padding: 0 1px 0 0;
    line-height: 1.2em;
    word-wrap: break-word
}

#tagbox li:not(:last-child):after {
    content: '\00B7'
}

#privacy-policy {
    overflow: hidden;
    position: relative;
    padding: 1em
}

#privacy-policy h1 {
    line-height: 25px
}

#privacy-policy .prose {
    height: 400px;
    padding: 1em 0 0;
    overflow: auto
}

.secondary .addon hgroup {
    position: relative;
    padding-left: 40px
}

.secondary .addon hgroup img {
    position: absolute;
    left: 0;
    top: 0;
    width: 32px;
    height: 32px
}

.secondary .addon hgroup h1 {
    font: 700 16px/18px Georgia, serif;
    text-transform: none;
    margin: 0 0 4px;
    padding: 0
}

.secondary .addon hgroup h4 {
    font-size: 12px;
    line-height: 14px
}

span.featured,
span.no-restart {
    background-color: #e8933a;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font: 700 9px/11px Arial;
    margin: 4px 0 0 4px;
    padding: 3px 6px;
    text-transform: uppercase;
    vertical-align: 3px
}

span.featured {
    background-color: #093
}

.listing .warning {
    background-color: #FFEDF2;
    border-radius: 5px;
    margin-bottom: 1em;
    padding: 10px 20px
}

.listing .warning h2 {
    color: #c00000
}

.policy-statement {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .19999999999999996);
    color: #666;
    line-height: 1.4;
    max-height: 500px;
    overflow: auto;
    padding: 2px 5px
}

.policy-statement,
pre.license {
    margin: 1.5em 0
}

.policy-install .install-shell .extra+.extra,
.policy-install p {
    margin: 0
}

.expando .content {
    display: none
}

.expando.expanded .content {
    display: block;
    position: relative;
    margin-top: 14px
}

.island .expando h2 {
    position: relative;
    margin-bottom: 0
}

.island .expando .toggle {
    position: absolute;
    top: -14px;
    right: -14px;
    left: -14px;
    bottom: -14px
}

.island .expando .toggle b {
    position: absolute;
    top: 14px;
    right: 14px;
    width: 20px;
    height: 20px;
    background: url(expando-large.png) no-repeat right 0
}

.island .expando .toggle:hover b {
    background-position: right -64px
}

.island .expando.expanded .toggle b {
    background-position: right -128px
}

.island .expando.expanded .toggle:hover b {
    background-position: right -192px
}

.island .expando:last-child {
    padding-bottom: 0
}

.install {
    position: relative
}

.d2c-reasons-popup {
    display: none
}

.d2c-reasons-popup ul {
    margin: 1em 0 0 20px;
    list-style: disc
}

.d2c-reasons-popup li {
    margin-left: 1em;
    margin-bottom: 1em
}

.d2c-reasons-help {
    background-color: #ccc;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    line-height: 7px;
    padding: 4px;
    margin: 0 8px;
    position: relative
}

.d2c-reasons-help:hover {
    background-color: #999;
    text-decoration: none
}

.d2c-reasons-help li,
.d2c-reasons-help p {
    line-height: 1.3
}

.primary .prose h2,
.primary .prose h3,
.primary.prose h2,
.primary.prose h3 {
    margin-top: 1em
}

.primary .prose h3,
.primary.prose h3 {
    font: italic 16px/18px Georgia, serif
}

.prose {
    color: #333;
    line-height: 1.4em;
    font-family: Georgia, serif
}

.prose h2 {
    margin-bottom: .5em
}

.prose ol,
.prose ul {
    margin: 1em 0 0 20px
}

.prose ul {
    list-style: disc
}

.prose ol {
    list-style: decimal
}

.prose li {
    margin-left: 1em;
    margin-bottom: 1em
}

.prose>ol:first-child,
.prose>p:first-child,
.prose>ul:first-child {
    margin-top: 0
}

.prose b,
.prose strong {
    font-weight: 700
}

.prose em,
.prose i {
    font-style: italic
}

.prose blockquote {
    margin: 1em 1em 0
}

.secondary .prose ul {
    margin-left: 10px
}

.secondary .prose li {
    border: 0 none
}

.paginator {
    float: left;
    width: 100%
}

.paginator .disabled {
    opacity: .25;
    pointer-events: none
}

.paginator p {
    float: left;
    margin-top: 0;
    font-size: 12px
}

.paginator p.num a {
    color: inherit
}

.paginator .num,
.paginator .pos {
    padding: 7px 0 9px;
    width: 25%
}

.paginator .pos {
    text-align: right
}

.paginator .rel {
    text-align: center;
    width: 50%
}

.paginator .rel a {
    display: inline-block;
    font-size: 14px;
    margin-left: 7px;
    padding: 7px 14px 9px
}

#sorter,
#sorter ul {
    line-height: 18px
}

#sorter {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 11px;
    margin-bottom: 1em
}

#sorter form,
#sorter h3,
#sorter>ul {
    color: #999;
    float: left;
    margin: 0
}

#sorter li {
    margin: 0
}

#sorter li.selected a {
    color: #d16b00;
    font-weight: 700;
    pointer-events: none;
    text-decoration: none
}

#sorter>ul>li {
    float: left;
    position: relative
}

#sorter>ul>li>a {
    border-right: 1px solid #ccc;
    padding: 0 6px
}

#sorter>ul>li:last-child:not(.extras) a {
    border-right: 0
}

#sorter>ul>li.extras>a {
    border: 1px solid transparent;
    border-bottom-width: 0;
    border-radius: 3px 3px 0 0;
    font-weight: 700;
    position: relative;
    z-index: 50
}

#sorter>ul>li.extras>a:after {
    border: 3px solid transparent;
    border-top-color: #666;
    position: relative;
    margin: 0 0 0 3px;
    content: "";
    width: 0;
    height: 0;
    top: 8px
}

#sorter>ul>li.extras ul {
    background: #fff;
    border: 1px solid #98b2c9;
    border-radius: 0 3px 3px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .4);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .4);
    display: none;
    padding: 6px;
    position: absolute;
    top: 18px;
    z-index: 49;
    width: 120px
}

#sorter>ul>li.extras ul a {
    display: block;
    padding: 3px 6px;
    word-wrap: break-word
}

#sorter>ul>li.extras ul a:hover {
    background: #ebf4fe
}

#sorter>ul>li.extras:hover>a {
    background: #fff;
    border-color: #98b2c9 #98b2c9 #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .4);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .4);
    padding: 6px
}

#sorter>ul>li.extras:hover ul {
    display: block
}

#sorter>ul>li.extras:hover ul,
#sorter>ul>li.extras:hover>a {
    margin-left: -1px;
    padding-left: 7px
}

#sorter>ul>li.extras:hover:after {
    background: #fff;
    content: "";
    height: 7px;
    position: absolute;
    top: 19px;
    width: 130px;
    z-index: 52;
    left: 0
}

.no-results {
    text-align: center;
    padding: 20px;
    opacity: .5;
    font: 700 24px "Helvetica Neue", Arial, sans-serif
}

.listing .item,
.listing .items {
    width: 100%
}

.listing .items {
    display: table
}

.listing .item {
    color: #999;
    display: table-row
}

.listing .item.static,
.listing .item:hover {
    background-color: rgba(201, 221, 242, .09999999999999998)
}

.listing .item.static .install-shell,
.listing .item:hover .install-shell {
    visibility: visible
}

.listing .item.acr .install-shell,
.listing .item.incompatible .install-shell {
    font: 11px/11px "Helvetica Neue", Arial, sans-serif
}

.listing .item.incompatible:hover .action {
    border-color: #c9ddf2;
    opacity: 1
}

.listing .item.incompatible:hover .extra .notavail {
    color: #c00000
}

.listing .item.incompatible .action,
.listing .item.incompatible .info {
    border-color: #a0c3e8;
    opacity: .4
}

.listing .item.incompatible .install-shell {
    visibility: visible
}

.listing .item.incompatible .install-shell .install,
.listing .item.incompatible .install-shell br {
    display: none
}

.listing .item h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px
}

.listing .item h3 img {
    display: block;
    position: absolute;
    left: 25px;
    max-height: 32px;
    max-width: 32px
}

.listing .item h3 .author {
    color: #666;
    font-size: 12px
}

.listing .item h3 .author a {
    color: #333
}

.listing .item .desc,
.listing .item h3 {
    margin: 0 0 5px
}

.listing .item p {
    font-size: 12px
}

.listing .item .vitals {
    margin-top: 2px;
    font-size: 11px;
    line-height: 13px
}

.listing .item .vitals .stars {
    height: 12px
}

.listing .item .vitals div {
    display: inline-block;
    margin: 0
}

.listing .item .vitals div.rating a {
    color: #999
}

.listing .item .vitals div.adu,
.listing .item .vitals div.followers {
    color: #093
}

.listing .item .vitals div.adu:before,
.listing .item .vitals div.updated:before {
    color: #999;
    content: '\00B7'
}

.listing .item .vitals span.price {
    color: #093
}

.listing .item .vitals span.price:not(:first-child):before {
    color: #999;
    content: '\00B7'
}

.listing .item .action,
.listing .item .info {
    border-top: 1px dotted #c9ddf2;
    display: table-cell;
    padding: 20px 0;
    vertical-align: top
}

.listing .item .info {
    overflow: hidden;
    padding-left: 58px;
    max-width: 470px
}

.listing .item .install-shell {
    padding: 0 10px;
    text-align: right;
    visibility: hidden
}

.listing .item .install-shell .install {
    margin: 0 0 6px
}

.listing .item .install-shell p.install-button {
    margin: 0;
    text-align: left
}

.listing .item .install-shell .extra {
    margin: 0 0 6px
}

.listing .item .install-shell .extra .notavail {
    color: #999;
    font-size: 10px
}

.listing .item .collector-note {
    background-color: #e0effd;
    float: left;
    line-height: 18px;
    margin-top: .5em;
    padding: 2px 4px
}

.paginator+.items {
    margin-top: 1em
}

#sorter+.listing-grid,
#sorter+.paginator,
#themes-listing .items,
.item+.paginator,
.items+.paginator {
    border-top: 1px dotted #c9ddf2;
    padding-top: 1em
}

.item+.paginator {
    border: 0
}

.item:hover .item-actions>li>a {
    color: #447bc4
}

.item-actions {
    font-family: "Helvetica Neue", Arial, sans-serif;
    float: right;
    font-size: 11px;
    margin-top: 1em;
    margin-bottom: 2px;
    color: #aaa
}

.item-actions>li {
    float: left
}

.item-actions>li>a {
    font-weight: 400;
    color: #aaa;
    -moz-transition: color;
    -webkit-transition: color;
    transition: color
}

.item-actions>li:not(:first-child) {
    list-style-type: disc;
    margin-left: 1.9em
}

.item-note {
    float: left;
    color: #666;
    font: italic .9em "Helvetica Neue", Arial, sans-serif;
    margin-bottom: 2px;
    margin-top: 1em
}

.version .action,
.version .info {
    font-family: "Helvetica Neue", Arial, sans-serif
}

.version h3 {
    font: 700 16px/18px "Helvetica Neue", Arial, sans-serif;
    margin: 1em 0
}

.version .desc {
    color: #333
}

.version .meta,
.version .source {
    color: #999;
    font: 11px/1.3 "Helvetica Neue", Arial, sans-serif
}

.version .meta {
    display: block
}

.version .filesize {
    display: inline-block;
    margin-left: 3px
}

.version .filesize:before {
    content: "\B7";
    margin-right: 3px
}

.version .source {
    list-style: none;
    margin: 1em 0 0
}

.version .source li {
    display: inline-block;
    margin: 0 3px 0 0
}

.version .source li:after {
    content: "\B7";
    margin-left: 3px
}

.version .source li:last-child {
    margin: 0
}

.version .source li:last-child:after {
    content: "";
    margin: 0
}

.version .install-shell {
    margin-bottom: 1em
}

.version .install-shell .install {
    display: inline-block
}

.listing .item.version .info {
    padding-left: 10px
}

.listing .item.version .info h3 {
    font-weight: 400;
    margin-bottom: 1em
}

.listing .item.version .info h3 a {
    font-weight: 700
}

#detail-relnotes .items {
    border-bottom: 0px dotted #c9ddf2
}

#detail-relnotes .items .item.static,
#detail-relnotes .items .item:hover {
    background: inherit
}

#detail-relnotes .items .action,
#detail-relnotes .items .info {
    border: 0;
    padding: 20px 0 0!important
}

#detail-relnotes .items .install-shell {
    padding-right: 0;
    visibility: visible
}

img.icon {
    padding: 4px
}

.listing .item.watching .install-shell {
    visibility: visible
}

.listing .item.watching .install-shell .is-watching {
    display: block;
    font: 700 13px/1em "Trebuchet MS", sans-serif;
    padding: 6px 10px 7px
}

.listing .item.watching .install-shell a {
    visibility: hidden
}

.listing .item.watching:hover .install-shell .is-watching {
    display: none
}

.listing .item.watching:hover .install-shell a {
    visibility: visible
}

#side-nav .listing-grid li {
    border: 0
}

#side-nav .listing-grid li a:hover {
    background: #fff
}

#side-nav .listing-grid li a {
    display: inline;
    line-height: auto;
    padding: 0
}

#side-nav .listing-grid li a:after {
    display: none
}

#side-nav .listing-grid .item.addon {
    margin-left: -3px
}

#tooltip {
    display: none;
    background: #2A4364;
    color: #fff;
    font-size: 11px;
    border: 1px solid #fff;
    border-radius: .8em;
    max-width: 300px;
    text-align: center;
    position: absolute;
    padding: 1em;
    pointer-events: none
}

#tooltip.error {
    background: #6c1a1a
}

#tooltip span {
    display: block;
    line-height: 1.2em
}

#tooltip:before {
    content: "\00a0";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    margin-left: -6px;
    left: 50%;
    bottom: -16px;
    border: solid transparent;
    border-width: 8px 6px;
    border-top-color: #2a4364;
    pointer-events: none
}

#tooltip.error:before {
    border-top-color: #6c1a1a
}

.tip {
    background-color: #ddd;
    border-radius: 20px;
    color: #fff;
    cursor: help;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    height: 18px;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
    width: 18px
}

.tip:hover {
    background-color: #2a4364
}

ul.license {
    position: relative;
    top: 3px
}

ul.license li {
    display: block;
    float: left;
    list-style: none;
    margin-right: 2px
}

ul.license li.text {
    font-size: 90%;
    line-height: 15px;
    margin-left: 4px
}

input.autocomplete {
    width: 16em
}

.ui-autocomplete {
    background-color: #fff;
    border: 1px solid #000;
    width: 300px;
    z-index: 100!important
}

.ui-autocomplete a,
.ui-autocomplete li {
    min-height: 32px
}

.ui-autocomplete li {
    clear: both
}

.ui-autocomplete a {
    cursor: pointer;
    display: block;
    padding: 2px
}

.ui-autocomplete a b {
    color: #999;
    display: block;
    font-size: 10px
}

.ui-autocomplete img {
    float: left;
    height: 32px;
    margin-right: 4px;
    width: 32px
}

.extra-form {
    display: none
}

.full p+table {
    margin: 1em 0
}

.full table {
    margin-bottom: 1em;
    width: 100%
}

.full>table:last-child {
    margin-bottom: 0
}

.full th {
    font-weight: 700
}

.full td,
.full th {
    padding: 6px 12px
}

.full tbody {
    color: #333
}

.full tr {
    line-height: 1.5em
}

.full thead {
    background: #c9ddf2
}

.full tr:nth-child(2n) {
    background: #f2f6fb
}

.full tbody tr:nth-child(2n+1) {
    background: #fff
}

.compat #reports {
    float: right
}

.compat #compat-form {
    margin: 0 0 1em
}

.compat #compat-form ul {
    margin-left: 2em
}

.compat #compat-form li,
.compat #compat-form ul {
    display: inline
}

.compat .paginator {
    border-top: 1px dotted #c9ddf2;
    margin-top: .5em;
    padding-top: 1em
}

.compat .enter {
    font-size: 16px;
    line-height: 18px;
    margin: 0;
    padding: 0 0 1em
}

.compat .full p:first-child {
    margin: 0
}

.compat .full h2 {
    margin: 1em 0
}

.compat .full h2 a {
    float: right
}

.compat .full tr {
    border: 1px solid #ccc
}

.compat .full tr.success {
    background: #efe;
    border-color: #9c9
}

.compat .full tr.success th {
    color: #093
}

.compat .full tr.comments,
.compat .full tr.problem {
    background: #fee;
    border-color: #c99
}

.compat .full tr.problem {
    border-bottom-width: 0
}

.compat .full tr.problem:last-child {
    border-bottom-width: 1px
}

.compat .full tr.problem th {
    color: #c63717
}

.compat .full tr.comments {
    border-top: 0;
    color: #666
}

.compat .full tr.comments td {
    font-size: 12px;
    padding-top: 0
}

.compat .full thead tr {
    border-color: #666
}

/* nojs */

#more-webpage {
    display: none;
}
.island .expando .content {
    display: block;
}
.island .expando .toggle {
    display: none;
}

#site-nojs-apps {
    display: block;
}

form.go button {
    display: inherit;
}

#search-facets .facets .facet:after {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
}

.html-rtl #search-facets .facets .facet:after {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

#search-facets .facets .facet:hover {
    cursor: inherit;
}

#search-facets .facets .facet:hover li a {
    pointer-events: auto;
}

#search-facets .facets .facet li a {
    display: block;
}

#search-facets ul + ul {
    margin-top: 1em;
}

#c-0 {
    display: none;
}

.version .action .install-shell {
    visibility: visible !important;
}

#list-total {
    float: right;
    font-size: 11px;
    line-height: 18px;
    color: #999;
}

.head-vercompat {
    margin-right: 10px;
    font-size: 12px;
    line-height: 1.3em;
    font-family: Georgia,serif;
}

.head-left {
    float: left;
}

.head-right {
    float: right;
}

.head-center {
    text-align: center;
}

.amologo {
    width: 13px;
    float:right;
    margin-left: 2px;
    margin-top: 1px;
}

.wbmlogo {
    width: 12px;
    float:right;
}

.about-home {
    font-family: Georgia,serif;
    font-size: 14px;
}

.about-home p {
    margin-bottom: 1.5em;
}

.db-warning {
    background-color: #FEFFE1;
    border-radius: 5px;
    margin: 1em 20%;
    padding: 10px;
    text-align: center;
    font-size: 16px;
}

.db-warning:nth-child(2) {
    margin-top: 10%;
}
.db-warning.ok {
    background-color: #D9FFD6;
}

.db-warning.bad {
    background-color: #FFEDF2;
}

.tcloud {
    font: 9px Helvetica, Arial, sans-serif;
    line-height: normal;
    overflow: hidden;
    position: relative;
}

.tcw {
    margin: 0px;
    padding: 0px;
    position: absolute;
}

.tcw.w1 { color: #BBB8D7; font-size: 100% }
.tcw.w2 { color: #A5A5EC; font-size: 150% }
.tcw.w3 { color: #6D77C8; font-size: 200% }
.tcw.w4 { color: #5E76C9; font-size: 250% }
.tcw.w5 { color: #4F79CA; font-size: 300% }
.tcw.w6 { color: #3F7FCC; font-size: 350% }
.tcw.w7 { color: #308ACD; font-size: 400% }
.tcw.w8 { color: #2098CE; font-size: 450% }
.tcw.w9 { color: #10AACF; font-size: 500% }
.tcw.w10 { color: #10AACF; font-size: 550% }

.tcw a {
    color: inherit;
    font-size: inherit;
    text-decoration: none;
}

.tcw a:hover {
    color: #00BAE9;
}

html {
    overflow-y:scroll;
}
